*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
}

#card{
    height: 70vh;
    width: 25vw;
    background-color: whitesmoke;
    box-shadow: 1px 1px 20px #0a0a0a;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#card h3{
    font-size: 2vw;
}

#card input{
    height: 7vh;
    width: 80%;
    border: none;
    outline: none;
    font-size: 1.5vw;
    border-bottom: 2px solid rgb(0, 123, 255);
    background-color: rgba(96, 160, 243, 0.231);
    border-radius: 2px;
}


#ans-block{
    font-size: 1.5vw;
    font-weight: 800;
    padding: 1vh 2vw;
    background-color: white;
}


@media screen and (max-width:480px) {
    
    #card{
        width: 70vw;
    }
    
    #card h3{
        font-size: 4.5vw;
    }


     
#card input{
    font-size: 3.3vw;
}

}