*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
}

nav{
    height: 10vh;
    width: 100vw;
    border-bottom: 0.1px solid white;
    background-color: rgba(255, 255, 255, 0.758);
}